:coffeescript
    $ ->
        console.log "BIND VALUES FROM APIS TO VIEW ELEMENTS HERE"
        $(window).on "devicemotion", (event) ->
            console.log event
            m_event = event.originalEvent
            x = (m_event.acceleration.x * 100).toFixed()
            y = (m_event.acceleration.y * 100).toFixed()
            z = (m_event.acceleration.z * 100).toFixed()
            x_string = x.toString()
            y_string = y.toString()
            z_string = z.toString()
            accelText = x_string + ", " + y_string + ", " + z_string
            $("#acceleration").text accelText
        $(window).on "deviceorientation", (event) ->
            console.log event
            o_event = event.originalEvent
            alpha = o_event.alpha.toFixed()
            beta = o_event.beta.toFixed()
            gamma = o_event.gamma.toFixed()
            a_string = alpha.toString()
            b_string = beta.toString()
            g_string = gamma.toString()
            oriText = a_string + ", " + b_string + ", " + g_string
            $("#orientation").text oriText
        

#gesturepad
    #gesture-square
        #screen
    %h2#orientation 0, 90, 0
    %h3#acceleration 0, 0, 0

    
// IGNORE, BUT KEEP THIS LINE (Back button)   
= render :partial => "application/back_to_root"
    
:scss
    $gesturepad-bg: desaturate(green, 70%);
    $gesture-square: lighten($gesturepad-bg, 70%);
    html, body{ overflow: none;}
    #gesturepad{
        height: 100%;
        width: 100%;
        overflow: none;
        color: white;
        font-family: Avenir, sans-serif;
        font-size: 4em;
        text-align: center;
            
        background: $gesturepad-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        #gesture-square{
            width: 150px;
            height: 200px;
            background: $gesture-square;
            transition: transform 2s;
            #screen{
                width: calc(100% - 20px);
                height: calc(100% - 30px);
                background: darken($gesture-square, 80%);
                margin: 10px;
                margin-bottom: 20px;
            }
        }
    }
    
