#wand
// IGNORE, BUT KEEP THIS LINE (Back button)   
= render :partial => "application/back_to_root"

:scss
    // #wand{
    //     height: 100%;
    //     width: 100%;
    //     color: black;
    //     font-family: Avenir, sans-serif;
    //     font-size: 3em;
    //     text-align: center;
        
    //     background: white;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
       
    // }
    
    

:javascript
    // var connection = new WebSocket('wss://p4-lov-bryanlov.c9users.io:8081')
    // var screen = document.getElementById("wand")
    // console.log("the screen is: ")
    // console.log(screen)
    // connection.onmessage = function(e) {
    //     if (e.data == "passby") {
    //         screen.style.background = "white"
    //         screen.innerHTML = "Welcome Back"
    //     } else if (e.data == "activity") {
    //         screen.style.background = "red"
    //         screen.innerHTML = "Activity"
    //     } else if (e.data == "relax") {
    //         screen.style.background = "lightSkyBlue"
    //         screen.innerHTML = "Relaxing"
    //     } else if (e.data == "leisure") {
    //         screen.style.background = "green"
    //         screen.innerHTML = "Leisure"
    //     } else if (e.data == "posing") {
    //         screen.style.background = "yellow"
    //         screen.innerHTML = "Posing"
    //     } else if (e.data == "leaving") {
    //         screen.style.background = "black"
    //         screen.innerHTML = "Goodbye"
    //         screen.text.color = "white"
    //     } else {
    //         console.log("Error, e.data was unlisted: " + e.data)
    //     }
    // }    
    Path = new Path()
    